.container{
    border: solid 1px black;
    width: 320px;
    border-left-width: 15px;
    background-color: #8f8484;
    height: 880px;
}
.container2{
    border: solid 1px;
    width: 800px;
    box-shadow: 0 0 0 #8f8484;
    background-color: #8f8484;
    border-right-width: 15px;
}
body{
    display: inline-flex;
    background-color: #5842043b;
    margin-bottom: 0;
    padding: 50px;
}
.data span{
    margin-left: 2em;
}
.data li{
    margin-left:3em;
    list-style:none;
}
.language li{
    margin-left: 7em;
}
.contacts li{
    list-style:none;
    font-size: 20px;
}
.personal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.personal ul li h1{
    margin: 0;
    padding: 0;
}
.education h4 {
    margin-left: 4em;
    color: black;
    font-size: 17px;
}
.education p{
    margin-left: 23%;
    line-height: 0px; 
}
.skills ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.skills ul li h4{
    margin: 0;
    padding: 0;
}
.container3{
    display: inline-flex;
}
.experience{
    border:solid 1px whitesmoke;
    width: 379px;
    margin-left: 0.5em;
    border-radius: 30px;
}
.experience li{
    line-height: 20px;
    text-align: center;
    list-style: none;
}
